{
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "src/types",
        "dist"
    ],
    "extension": [
        ".ts"
    ],
    "reporter": [
        "json",
        "text",
        "html"
    ],
    "require": [
        "../../environment/plugins/remove-empty-module-init-ts-node",
        "tsconfig-paths/register"
    ],
    "temp-directory": "./coverage/.nyc_output",
    "all": true
}
